{% extends 'base.html.twig' %}

{% block title %} {{ Categorie.catNom }} {% endblock %}

{% block body %}
    <div class="container">
        <ul>
            <div class="row justify-content-center mt-4">
                <div class="col-10">
                    <div class="row">
                        {% for souscategory in SousCategories %}
                            <div class="col-4 d-inline">  
                                <li class="text-center mx-2 my-3">
                                    <img src="/images/souscategories/{{ souscategory.sousCatNom }}.{{ souscategory.photo }}" alt="souscategorie">
                                    <a href="{{ path('produit', {id:souscategory.id})}}"> <h5>{{souscategory.sousCatNom}}</h5> </a> 
                                </li> 
                            </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </ul>
    </div>

{% endblock %}
