{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}



{% block body %}
    <h1 class="text-center my-3"> Toutes les catégories </h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <ul>
                    {% for category in categories %}
                        <li class="d-inline-block text-center my-3 mx-2"> 
                            <a href="{{ path('sous_categories', {id:category.id})}}"> <h4> {{category.catNom}} </h4> </a>  
                            <img src="/images/categories/{{ category.catNom }}.{{ category.catPhoto }}" alt="categories"> 
                        </li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <a href="{{ path('categories_new') }}">Create new</a>

    <br>
    
{% endblock %}
